big_carousel_slides:
  default: >-
    [{"link": "https://google.com", "headline":"This is my headline", "text":"This is body text", "text_bg": "#000", "button_text": "click here", "image_url": "", "slide_bg_color": "#000", "slide_type": "slide"}]
  json_schema: '{ "type": "array", "format": "list", "uniqueItems": true, "items": { "type": "object", "properties": { "link": { "type": "string", "minLength": 1 }, "headline": {"type": "string"}, "text": { "type": "string", "minLength": 1 }, "text_bg": { "type": "string", "minLength": 1 }, "button_text": {"type": "string"}, "image_url": { "type": "string" }, "slide_bg_color": { "type": "string" }, "slide_type": {"type": "string"} }, "additionalProperties": false } }'

big_carousel_min_height:
  type: string
  default: 300px

big_carousel_autoplay:
  type: bool
  default: false

big_carousel_speed:
  type: integer
  default: 300

plugin_outlet:
  type: enum
  default: below-site-header
  choices:
    - below-site-header
    - above-main-container
