@import "tiny-slider/tiny-slider";

.tns-outer {
  position: relative;
}

.tns-nav,
.tns-controls {
  position: absolute;
  z-index: 2;
}

.tns-item {
  min-height: $big-carousel-min-height;
  background-size: cover;
  background-position: center center;
}

.custom-big-carousel {
  position: relative;
  .custom-big-carousel-next,
  .custom-big-carousel-prev {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    z-index: 2;
    color: var(--secondary);
    font-size: var(--font-up-5);
    padding: 1em 0.5em;
    cursor: pointer;
    &:hover {
      color: var(--tertiary);
    }
  }

  &:hover {
    .custom-big-carousel-next,
    .custom-big-carousel-prev {
      display: flex;
    }
  }

  .custom-big-carousel-next {
    right: 0;
  }

  .custom-big-carousel-prev {
    left: 0;
  }

  .custom-big-carousel-nav {
    position: absolute;
    display: flex;
    z-index: 3;
    bottom: 0.5em;
    width: 100%;
    justify-content: center;
  }

  .custom-big-carousel-nav-item {
    width: 0.75em;
    height: 0.75em;
    border-radius: 100px;
    background: var(--secondary);
    margin: 0 0.25em;
    cursor: pointer;
    &.tns-nav-active {
      background: var(--tertiary);
    }
  }

  .custom-big-carousel-slide {
    position: relative;
  }

  .custom-big-carousel-content {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
    width: 100%;
    height: 100%;
    z-index: 4;

    h2 {
      line-height: 1;
      font-size: 3em;
    }

    p {
      font-size: var(--font-up-1);
    }
  }

  .custom-big-carousel-text-link {
    color: var(--secondary);
  }

  .custom-big-carousel-outer-wrap {
    width: 100%;
  }
  .custom-big-carousel-inner-wrap {
    display: inline-block;
  }
}
